# Virtual Environment
.venv/
venv/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets
.env
.env.local

# IDE & Editor files
.vscode/
.idea/

# OS specific
Thumbs.db
Desktop.ini